<div class="layout-wrapper">
    <div class="login-container">
        <div class="logo-content text-center">
            <img src="../../../assets/Softtek-logo.png" alt="" />
        </div>
        <div style="margin-right: 100px;">
            <mat-card>
                <div class="login-content text-center">
                    <mat-card-content>
                        <form [formGroup]="forgotForm">
                            <div *ngIf="!showPasswordFields">
                                <mat-form-field appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Confirm Your Email" name="userEmail"
                                        formControlName="email" required />
                                    <mat-error *ngIf="forgotForm.controls['email'].hasError('required')">
                                        Email is required
                                    </mat-error>
                                    <mat-error *ngIf="forgotForm.controls['email'].hasError('pattern')">
                                        Please enter a valid email address
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div *ngIf="btnName == 'Verify Otp' && !showPasswordFields">
                                <mat-form-field appearance="outline">
                                    <input matInput placeholder="Enter OTP" name="otp" formControlName="otp" required />
                                    <mat-error *ngIf="forgotForm.controls['otp'].hasError('required')">
                                        Otp is required
                                    </mat-error>
                                    <mat-error *ngIf="otpvalidMessage != ''">
                                        {{otpvalidMessage}}
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div *ngIf="showPasswordFields">
                                <mat-form-field appearance="outline">
                                    <input matInput type="password" placeholder="New Password" name="newPassword"
                                        formControlName="newPassword" required />
                                    <mat-error *ngIf="forgotForm.controls['newPassword'].hasError('required')">
                                        New Password is required
                                    </mat-error>
                                </mat-form-field>

                            </div>
                            <div *ngIf="showPasswordFields">
                                <mat-form-field appearance="outline">
                                    <input matInput type="password" placeholder="Confirm Password"
                                        formControlName="confirmPassword" name="confirmPassword" required />
                                    <mat-error *ngIf="forgotForm.controls['confirmPassword'].hasError('required')">
                                        Confirm Password is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </form>

                        <div class="mt-1" *ngIf="!showPasswordFields">
                            <button type="submit" mat-raised-button class="btn-main" style="width: 100%;"
                                (click)="sendOtp(btnName)">
                                {{btnName}}
                            </button>
                        </div>
                        <div class="text-center mt-2" *ngIf="showTimerDiv && !showPasswordFields">
                            <span>{{ timer }} : <a [class.disable]="timer !== 0" href="javascript:void(0)"
                                    (click)="sendOtp('Send Otp')">Resend Otp</a></span>
                        </div>
                        <div *ngIf="showPasswordFields">
                            <button mat-raised-button class="btn-main" (click)="resetPassword()" >
                                Reset Password
                            </button>
                        </div>
                    </mat-card-content>
                </div>

            </mat-card>
        </div>

    </div>
</div>