<div class="bootstrap-wrapper mt20">
  <div class="container">
    <div class="row" style="margin-top: 20px">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <mat-card-content>
            <div class="container text-center">
              <img style="max-width: 100px" alt="" />
            </div>
            <mat-card-header class="center-header">
              <mat-card-title>Reset Password</mat-card-title>
            </mat-card-header>
            <br />

            <!-- Main Form -->
            <form #passwordResetForm="ngForm">
              <!-- Step 1: Email and Send OTP -->
              <div [hidden]="step !== 1">
                <!-- User Email -->
                <mat-form-field class="full-width ml40">
                  <input
                    matInput
                    placeholder="Confirm Your Email"
                    name="userEmail"
                    [(ngModel)]="userEmail"
                    [disabled]="step !== 1"
                    required
                  />
                </mat-form-field>

                <!-- Send OTP Button -->
                <button
                  mat-raised-button
                  color="primary"
                  class="ml30"
                  (click)="sendOTP(2)"
                  [disabled]="step !== 1"
                >
                  Send OTP
                </button>
              </div>

              <!-- Step 2: OTP Verification -->
              <div [hidden]="step !== 2">
                <!-- OTP Verification -->
                <mat-form-field class="full-width ml40">
                  <input
                    matInput
                    placeholder="Enter OTP"
                    name="otp"
                    [(ngModel)]="userEnteredOTP"
                    required
                    [disabled]="step !== 2"
                  />
                </mat-form-field>
                <!-- Verify OTP Button -->
                <button
                  mat-raised-button
                  color="primary"
                  class="ml30"
                  (click)="verifyOTP(3)"
                  [disabled]="step !== 2"
                >
                  Verify OTP
                </button>

                <div *ngIf="timer > 0" class="font-size">
                  <p>Can request for new OTP in: <span class="red-text">{{ timer }}</span></p>
                </div>

                <button
                  mat-raised-button
                  color="primary"
                  class="ml30"
                  (click)="resendOTP()"
                  [hidden]="!resendButtonVisible"
                >
                  Resend OTP
                </button>
              </div>

              <!-- Step 3: New Password and Confirm Password -->
              <div [hidden]="step !== 3">
                <!-- New Password -->
                <mat-form-field class="full-width ml40" class="text-header">
                  <input
                    matInput
                    type="text"
                    placeholder="New Password"
                    name="newPassword"
                    class="text-header"
                    [(ngModel)]="newPassword"
                    required
                    [disabled]="step !== 3"
                  />
                </mat-form-field>

                <!-- Confirm Password -->
                <mat-form-field class="full-width ml40" class="text-header">
                  <input
                    matInput
                    type="password"
                    placeholder="Confirm Password"
                    name="confirmPassword"
                    class="text-header"
                    [(ngModel)]="confirmPassword"
                    required
                    [disabled]="step !== 3"
                  />
                </mat-form-field>
                <div class="text-center">
                  <button
                    mat-raised-button
                    color="primary"
                    class="mt-3"
                    (click)="resetPassword()"
                    [hidden]="step !== 3"
                    [disabled]="step !== 3 || resetDisabled === true"
                  >
                    Reset Password
                  </button>
                </div>
                <br />
                <div *ngIf="isPasswordComplex()">
                  <div class="font-size">
                    <p class="password-requirement">Password Requirements:</p>
                    <p class="password-requirement">
                      * at least one capital letter
                    </p>
                    <p class="password-requirement">
                      * at least one special character among !@#$%^&*
                    </p>
                    <p class="password-requirement">
                      * at least one numeric number
                    </p>
                    <p class="password-requirement">
                      * minimum 10 characters in length
                    </p>
                  </div>
                </div>
              </div>
            </form>

            <!-- Reset Password Button -->

            <div *ngIf="successMessage" class="success-message">
              {{ successMessage }}
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
