.center-header {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center; /* Center text within the header */
    font-weight: bold;
    font-size: larger;
  }
  .text-header {
    display: block;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center; /* Center text within the header */
  }

  .font-size {
    font-size: small; /* or you can use '10px' for a specific size */
  }

  .password-requirement {
    margin: 0; /* Remove default margin */
    color: red; /* Set text color to red */
  }

  .red-text {
    color: red;
  }