<mat-card *ngIf="user">
  <div class="container mt50">
    <div class="card">
      <div class="card-body text-center">
        <img
          src="../../../assets/Profile Pictures/Admin.jpg"
          style="border-radius: 50px"
          alt="User Profile Picture"
          class="rounded-circle profile-picture"
        />
        <h1 class="card-title profile-name">{{ user.username }}</h1>
        <p class="card-text profile-bio">{{ user.authorities[0].authority }}</p>
        <ul class="list-group list-group-flush profile-details">
          <li class="list-group-item mt10">
            <strong>Email:</strong>&nbsp; &nbsp;{{ user.email }}
          </li>
          <li class="list-group-item mt10">
            <strong>Location:</strong>&nbsp; &nbsp; Bangalore, INDIA
          </li>
        </ul>
      </div>
    </div>
  </div>
  <mat-card-actions class="self-center mb30">
    <button mat-raised-button color="primary" class="ml20">
      <mat-icon>edit</mat-icon>Edit Profile
    </button>
    <button mat-raised-button color="accent" class="ml20">
      <mat-icon>download</mat-icon>Export User Report
    </button>
    <button
      mat-raised-button
      color="warn"
      class="ml20"
      *ngIf="
        user.profile === 'Admin.jpg' || user.email.includes('@softtek.com')
      "
    >
      <mat-icon>password</mat-icon>Password Reset
    </button>
  </mat-card-actions>
</mat-card>
