<div class="sidebar">
  <div class="wrapper">
    <div class="links">
      <mat-card class="mt20">
        <mat-action-list>
          <!-- <div mat-subheader class="matHeader mt20">Menu</div> -->
          <div class="link">
            <button mat-list-item routerLink="/admin">
              <mat-icon class="icon" mat-list-icon>home</mat-icon>&nbsp; &nbsp;
              Dashboard
            </button>
          </div>
          <div class="link">
            <button mat-list-item routerLink="/admin/profile">
              <mat-icon class="icon" mat-list-icon>account_circle</mat-icon
              >&nbsp; &nbsp; Profile
            </button>
          </div>
          <div class="divider"></div>
          <div class="link">
            <button mat-list-item routerLink="/admin/admin-details">
              <mat-icon class="icon" mat-list-icon>people</mat-icon>&nbsp;
              &nbsp; Admins
            </button>
          </div>
          <div class="link">
            <button mat-list-item routerLink="/admin/user-details">
              <mat-icon class="icon" mat-list-icon>people_outline</mat-icon
              >&nbsp; &nbsp; Users
            </button>
          </div>
          <div class="link">
            <button mat-list-item routerLink="/admin/categories">
              <mat-icon class="icon" mat-list-icon>auto_awesome_motion</mat-icon
              >&nbsp; &nbsp; Categories
            </button>
          </div>
          <div class="link">
            <button mat-list-item routerLink="/admin/view-assessments">
              <mat-icon class="icon" mat-list-icon>category</mat-icon>&nbsp;
              &nbsp; Assessments
            </button>
          </div>
          <div class="divider"></div>
          <div class="link">
            <button mat-list-item routerLink="/admin/assign-test">
              <mat-icon class="icon" mat-list-icon>work</mat-icon>&nbsp; &nbsp;
              Assign Test
            </button>
          </div>
          <div class="link">
            <button mat-list-item routerLink="/admin/access-request">
              <mat-icon class="icon" mat-list-icon>menu</mat-icon>&nbsp; &nbsp;
              Access Requests
            </button>
          </div>
        </mat-action-list>
      </mat-card>
    </div>
  </div>
</div>
