.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    /* background-image: url('../../../../assets/assessments/assessment.png'); */
    background-size: cover;
  }
  .spacer {
    margin-top: 20px; /* Adjust the value to set the desired amount of space */
  }
  