.full-width {
    width: 100%;
}

.card {
    background-color: rgb(255, 255, 255);
}

.softtek-logo {
    width: 200px;
    height: 100px;
    margin-top: 30px;
}

.login-content {
    margin: 10px;
}

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password{
    margin-top: -15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;

}

.forgot-password-link{
    font-size: 14px;
}

.login-btn{
    background: #fff; 
    color: #198f8d; 
    border-color: 2px solid #198f8d;
    border: 2px solid #198f8d; 
    margin-bottom: 5px; 
    padding: 4px 15px;
    border-radius: 8px;
    font-weight: 400;
    width: 100%;
  }

  .register-here{
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }