<mat-card class="mt20">
  <h1>All Categories</h1>
  <mat-list *ngFor="let folder of categories">
    <mat-list-item>
      <div mat-line class="mt10">
        <mat-icon mat-list-icon>category</mat-icon>{{ folder.categoryTitle }}
      </div>
      <div mat-line>{{ folder.categoryDescription }}</div>
    </mat-list-item>
    <hr />
  </mat-list>

  <div class="container text-center mt20 mb20">
    <button routerLink="/admin/add-category/" mat-raised-button color="accent">
      Add New category
    </button>
  </div>
</mat-card>
