<div class="container">
  <div class="row">
    <div class="col-md-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Assessments</mat-card-title>
        </mat-card-header>
        <mat-card-content [class.scrollable-list]="filteredAssessments.length > 6">
          <!-- Add a search input for Assignments -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Search Assessments" [(ngModel)]="assessmentSearch" (ngModelChange)="updateFilteredAssessments()">
          </mat-form-field>
          <mat-list>
            <!-- List of Assignments with Checkboxes and Filtering -->
            <mat-list-item *ngFor="let assessment of filteredAssessments">
              <mat-checkbox [(ngModel)]="assessment.selected" (change)="toggleAssessmentSelection(assessment)">{{ assessment.assessmentTitle }}</mat-checkbox>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Users</mat-card-title>
        </mat-card-header>
        <mat-card-content [class.scrollable-list]="filteredUsers.length > 6">
          <!-- Add a search input for Users -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Search Users" [(ngModel)]="userSearch" (ngModelChange)="updateFilteredUsers()">
          </mat-form-field>
          <mat-list>
            <!-- List of Users with Checkboxes and Filtering -->
            <mat-list-item *ngFor="let user of filteredUsers">
              <mat-checkbox [(ngModel)]="user.selected" (change)="toggleUserSelection(user)">{{ user.firstName + " " + user.lastName + " ["+ user.username +"]" }}</mat-checkbox>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container text-center mt20">
  <div class="col-md-12 fab-container">
    <button mat-fab color="primary" (click)="handleFABClick(dataToSend)" matTooltip="Assign Test">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
