.delete-button {
    color: red;
  }

  .left-button {
  align-self: flex-start; 
  margin-right: 20px; 
}

.clickable-row:hover {
  cursor: pointer;
  background-color: #f0f0f0; 
}

.user-groups-button {
  align-self: flex-start; 
  margin-left: 20px; 
}

.center-checkbox {
  display: flex;
  align-items: center;
}
