<mat-card class="mt20 mr20 ml20">
  <mat-card>
    <mat-card-header>
      <div class="mb-3">
        <h4>Assessment Groups</h4>
      </div>
    </mat-card-header>
    <mat-card-content>
      <!-- <h3>Assessment Groups:</h3> -->
      <div class="add-user-group-button d-flex" style="justify-content: flex-end;">
        <button mat-raised-button class="btn-main" (click)="addGroup()">
          <mat-icon>add</mat-icon>Add Assessment Group
        </button>
      </div>
      <div class="selected-group-row" *ngIf="groups.length !== 0">
        <mat-card class="mr20 ml20 mb20" *ngFor="let group of groups; let i = index">
          <div class="d-flex justify-content-between">
            <div>
              <a (click)="handleGroupClick(group)" class="group-card-link">
                <mat-card-header>
                  <mat-card-title>{{ group.groupName }}</mat-card-title>
                  <mat-card-subtitle>Group ID: {{ group.groupId }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <!-- Content of the card goes here -->
                </mat-card-content>
              </a>
            </div>
            <div>
              <mat-card-header>
                <button mat-button color="warn" (click)="removeGroup(group)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-card-header>
            </div>
          </div>


        </mat-card>
      </div>
      <div class="text-center" *ngIf="groups.length === 0">
        <h6>No Groups Found</h6>
      </div>
      <!-- <div class="center-button">
        <button routerLink="/admin/view-assessments" class="mr20 ml20" mat-raised-button color="warn">
          Back
        </button>
      </div> -->
    </mat-card-content>
  </mat-card>
</mat-card>