<div class="sidebar">
    <div class="wrapper">
        <div class="links">
            <mat-card class="mt20">
                <mat-action-list>
                    <!-- <div mat-subheader class="matHeader mt20">Menu</div> -->
                    <div class="link">
                        <button mat-list-item routerLink="/user">
                          <mat-icon class="icon" mat-list-icon>home</mat-icon>&nbsp; &nbsp;
                          Dashboard
                        </button>
                    </div>
                    <div class="link">
                        <button mat-list-item routerLink="/user/view-user-assessments">
                          <mat-icon class="icon" mat-list-icon>category</mat-icon>&nbsp; &nbsp;
                          Assessments
                        </button>
                    </div>
                </mat-action-list>
            </mat-card>
        </div>
    </div>
</div>