.delete-button {
    color: red;
  }

  .left-button {
  align-self: flex-start; 
  margin-right: 20px; 
}

.clickable-row:hover {
  cursor: pointer;
  background-color: #f0f0f0; 
}

.mat-table{
  table{
    background-color: transparent !important;

    th, td{
      text-align: center;
    }
  }
}

.profile-image{
  max-width: 40px;
  border-radius: 25%; 
  margin: 5px;
}

