<div class="container">
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-md-3">
          <div class="profile">
            <div class="user-profile">
              <img src="../../../assets/Profile Pictures/Admin.jpg" alt="User Profile Image" id="profile-image">
            </div>
            <div class="user-data">
              <div class="user-data-item">{{ user?.firstName }} {{ user?.lastName }}</div>
              <div class="user-data-item">{{ user?.email }}</div>
              <div class="user-data-item">{{ user?.phone }}</div>

            </div>
          </div>
          <div class="m-4 text-center" *ngIf="!displayPassword">
            <button mat-button color="primary" (click)="changePasswordofUser()">Change Password?</button>
          </div>
        </div>
        <div class="col-md-9 mt-4">
          <form class="vistior-inputs" [formGroup]="EditUserForm">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input matInput placeholder="First Name" formControlName="firstName">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput placeholder="Last Name" formControlName="lastName">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>User Name</mat-label>
                  <input matInput placeholder="User Name" formControlName="userName">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Phone Number</mat-label>
                  <input matInput placeholder="Phone No." formControlName="phoneNumber">
                </mat-form-field>
              </div>
            </div>
            <div class="row" *ngIf="displayPassword">
              <div class="col-md-6" >
                <mat-form-field appearance="outline">
                  <mat-label>Old Password</mat-label>
                  <input matInput placeholder="Old Password" formControlName="oldPassword">
                  <mat-error *ngIf="EditUserForm.get('oldPassword')?.hasError('required')">Old password is
                    required.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>New Password</mat-label>
                  <input matInput placeholder="New Password" formControlName="newPassword">
                  <mat-error *ngIf="EditUserForm.get('newPassword')?.hasError('required')">New password is
                    required.</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row" *ngIf="displayPassword">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput placeholder="Confirm Password" (input)="checkPassword($event.target)"
                    formControlName="confirmPassword">
                  <mat-error *ngIf="EditUserForm.controls['confirmPassword'].invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button type="button" 
      (click)="changePasswordofUser()">Back</button> &nbsp;&nbsp;
      <button mat-button class="btn-main" type="button">Update</button>

    </mat-card-actions>
  </mat-card>
</div>

<!-- <mat-card *ngIf="user">
  <div class="container mt50">
    <div class="card">
      <div class="card-body text-center">
        <img
          src="../../../assets/Profile Pictures/Admin.jpg"
          style="border-radius: 50px"
          alt="User Profile Picture"
          class="rounded-circle profile-picture"
        />
        <h1 class="card-title profile-name">{{ user.username }}</h1>
        <p class="card-text profile-bio">{{ user.authorities[0].authority }}</p>
        <ul class="list-group list-group-flush profile-details">
          <li class="list-group-item mt10">
            <strong>Email:</strong>&nbsp; &nbsp;{{ user.email }}
          </li>
          <li class="list-group-item mt10">
            <strong>Location:</strong>&nbsp; &nbsp; Bangalore, INDIA
          </li>
        </ul>
      </div>
    </div>
  </div>
  <mat-card-actions class="self-center mb30">
    <button mat-raised-button color="primary" class="ml20">
      <mat-icon>edit</mat-icon>Edit Profile
    </button>
    <button mat-raised-button color="accent" class="ml20">
      <mat-icon>download</mat-icon>Export User Report
    </button>
    <button
      mat-raised-button 
      routerLink="/admin/password-reset"
      color="warn"
      class="ml20"
      *ngIf="
        user.profile === 'Admin.jpg' || user.email.includes('@softtek.com')"
        (click)="navigateToPasswordReset()"
    >
      <mat-icon>password</mat-icon>Password Reset
    </button>
  </mat-card-actions>
</mat-card> -->