mat-action-list {
  background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
}

.matHeader{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
  font-style: initial;
  font-weight: 500;
}

.sidebar {
  position: fixed;
  top: 20;
  left: 0;
  width: 250px; /* Adjust the width as needed */
  height: 100%; /* Make it full height */
  background-color: #fff; /* Set the background color */
  border-right: 1px solid #ddd; /* Add a border if desired */
  overflow-y: auto; /* Enable scrolling if content exceeds sidebar height */
  z-index: 1000; /* Ensure it's on top of other content */
}