<mat-card class="mt20">
    <mat-action-list>
        <div mat-subheader class="matHeader mt20">Menu</div>
            <div class="container mt30 mb30">
            <button mat-list-item routerLink="/admin"><mat-icon mat-list-icon>home</mat-icon> Home </button>
            <button mat-list-item routerLink="/admin/profile"><mat-icon mat-list-icon>account_circle</mat-icon> Profile </button>
            <button mat-list-item routerLink="/admin/user-details"><mat-icon mat-list-icon>contacts</mat-icon> Users </button>
            <button mat-list-item routerLink="/admin/categories"><mat-icon mat-list-icon>auto_awesome_motion</mat-icon> Categories </button>
            <button mat-list-item routerLink="/admin/view-assessments"><mat-icon mat-list-icon>category</mat-icon> Assessments </button>
            <button mat-list-item routerLink="/admin/add-category"><mat-icon mat-list-icon>post_add</mat-icon> Add category </button>
            <button mat-list-item routerLink="/admin/add-assessment"><mat-icon mat-list-icon>library_add</mat-icon> Add Assessment </button>
            <button mat-list-item routerLink="/admin/assign-test"><mat-icon mat-list-icon>work</mat-icon> Assign Test </button>
            <button mat-list-item routerLink="/admin/access-request"><mat-icon mat-list-icon>menu</mat-icon> Access Requests </button>
            <button mat-list-item routerLink="/admin/add-user"><mat-icon mat-list-icon>person_add</mat-icon> Add User </button>
            <button mat-list-item routerLink="/admin/add-admin"><mat-icon mat-list-icon>engineering</mat-icon> Add Admin </button>
        </div>
    </mat-action-list>
</mat-card>
