<mat-card class="mt20">
  <h1 class="mt10 ml20 text-center" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Add new Category</h1>
  <!-- {{ category | json }} -->
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <form (ngSubmit)="formSubmit()">
            <!-- Title field -->
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Title</mat-label>
              <input
                required
                autofocus
                type="text"
                name="categoryTitle"
                matInput
                placeholder="Enter Category Title"
                [(ngModel)]="category.categoryTitle"
              />
            </mat-form-field>
            <!-- Description Field-->
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Description</mat-label>
              <textarea
                required
                name="categoryDescription"
                matInput
                placeholder="Enter Category Description"
                rows="10"
                [(ngModel)]="category.categoryDescription"
              ></textarea>
            </mat-form-field>
            <div class="container text-center mt15">
              <button mat-raised-button color="primary">ADD</button>
              <button
                type="reset"
                class="ml20"
                mat-raised-button
                color="accent"
              >
                Reset
              </button>
              <button class="ml20" routerLink="/admin/categories/" mat-raised-button color="accent">
                View Categories
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
