<div class="container">
  <div class="row">
    <div class="col-md-6">
      <mat-card>
        <mat-card-header>
          <div class="mb-3">
            <h6>Assessment Groups</h6>
          </div>
        </mat-card-header>
        <mat-card-content [class.scrollable-group-list]="filteredAssessmentGroups.length > 3">
          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput placeholder="Search Assessment Groups" [(ngModel)]="assessmentGroupSearch"
              (ngModelChange)="updateFilteredAssessmentGroups()" />
          </mat-form-field>
          <mat-list>
            <mat-list-item *ngFor="let assessmentGroup of filteredAssessmentGroups">
              <mat-checkbox [(ngModel)]="assessmentGroup.selected"
                (change)="toggleAssessmentGroupSelection(assessmentGroup)">{{ assessmentGroup.groupName
                }}</mat-checkbox>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <br>
    </div>

    <div class="col-md-6">
      <mat-card>
        <mat-card-header>
          <div class="mb-3">
            <h6>User Groups</h6>
          </div>
        </mat-card-header>
        <mat-card-content [class.scrollable-group-list]="filteredUserGroups.length > 3">
          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput placeholder="Search User Groups" [(ngModel)]="userGroupSearch"
              (ngModelChange)="updateFilteredUserGroups()" />
          </mat-form-field>
          <mat-list>
            <mat-list-item *ngFor="let userGroup of filteredUserGroups">
              <mat-checkbox [(ngModel)]="userGroup.selected" (change)="toggleUserGroupSelection(userGroup)">{{
                userGroup.groupName }}</mat-checkbox>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <br />
    </div>

    <div class="col-md-6">
      <mat-card>
        <mat-card-header>
          <div class="mb-3">
            <h6>Assessments</h6>
          </div>
        </mat-card-header>
        <mat-card-content [class.scrollable-list]="filteredAssessments.length > 4">
          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput placeholder="Search Assessments" [(ngModel)]="assessmentSearch"
              (ngModelChange)="updateFilteredAssessments()" />
          </mat-form-field>
          <mat-list>
            <mat-list-item *ngFor="let assessment of filteredAssessments">
              <mat-checkbox [(ngModel)]="assessment.selected" (change)="toggleAssessmentSelection(assessment)"
                [disabled]="assessmentGroupSelected(assessment)">{{ assessment.assessmentTitle }}</mat-checkbox>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <div class="container text-center mt-3">
        <button mat-raised-button class="btn-main" *ngIf="onlyAssessmentsSelected" (click)="groupAssessments()">
          Group Assessments
        </button>
      </div>
    </div>

    <div class="col-md-6">
      <mat-card>
        <mat-card-header>
          <div class="mb-3">
            <h6>Users</h6>
          </div>
        </mat-card-header>
        <mat-card-content [class.scrollable-list]="filteredUsers.length > 4">
          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput placeholder="Search Users" [(ngModel)]="userSearch"
              (ngModelChange)="updateFilteredUsers()" />
          </mat-form-field>
          <mat-list>
            <mat-list-item *ngFor="let user of filteredUsers">
              <mat-checkbox [(ngModel)]="user.selected" (change)="toggleUserSelection(user)"
                [disabled]="userGroupSelected(user)">{{
                user.firstName +
                " " +
                user.lastName +
                " [" +
                user.username +
                "]"
                }}</mat-checkbox>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <div class="container text-center mt-3">
        <button mat-raised-button class="btn-main" *ngIf="onlyUsersSelected" (click)="groupUsers()">
          Group Users
        </button>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <div class="col-md-12 fab-container">
      <button mat-fab color="primary" (click)="handleFABClick()" [disabled]="disabled" matTooltip="Assign Test">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>