<div class="container">
  <mat-card class="w100">
    <mat-card-header>
      <div class="mb-3">
        <h4>Categories</h4>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div style="display:flex; justify-content: flex-end;" class="mb-4">
          <!-- *ngIf="isAdmin" [routerLink]="['/admin/add-admin/add']" [queryParams]="{ mode: 'add' }" -->
          <button mat-raised-button class="left-button btn-main" (click)="openDialog('Add', '')">
            Add New Category
          </button>
        </div>
      </div>
      <div *ngIf="categories.length === 0" class="empty-message">
        No Categories Found
      </div>
      <div>
        <mat-card class="mt30 mr20 ml20" *ngFor="let c of categories">
          <mat-card-header>
            <div mat-card-avatar class="category-image"></div>
            <mat-card-title>
              {{ c.categoryTitle }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ c.categoryDescription }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions class="mt10 mb10">
            <button (click)="deleteCategory(c.categoryId)" mat-raised-button class="ml20" color="warn">
              Delete
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-card-content>
    <!-- <h1
      class="text-center mt10"
      style="
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(37, 66, 50);
        font-size: 40px;
        font-weight: 700;
      ">
      Categories
    </h1> -->
    <!-- <div class="container text-left mt20">
      <button routerLink="/admin/add-category" mat-raised-button color="accent">
        Add New Category
      </button>
    </div> -->
    <!-- <div class="container  mt20 ml10">
      <div *ngIf="categories.length === 0" class="text-center mt10">
        <p>No categories found</p>
      </div>
    </div> -->
    <!-- <mat-card class="mt30 mr20 ml20" *ngFor="let c of categories">
      <mat-card-header>
        <div mat-card-avatar class="category-image"></div>
        <mat-card-title>
          {{ c.categoryTitle }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ c.categoryDescription }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions class="mt10 mb10">
        <button
          (click)="deleteCategory(c.categoryId)"
          mat-raised-button
          class="ml20"
          color="warn"
        >
          Delete
        </button>
      </mat-card-actions>
    </mat-card> -->
  </mat-card>
</div>