<div class="bootstrap-wrapper mt20">
    <div class="container">
      <div class="row" style="margin-top: 20px">
        <div class="col-md-6 offset-md-3">
          <mat-card>
            <mat-card-content>
              <div class="container text-center">
                <img
                  style="max-width: 100px"
                  src="../../../../assets/man.png"
                  alt=""
                />
              </div>
              <h1 class="text-center">Provide User Details</h1>
              <!-- {{user | json}} -->
              <form (ngSubmit)="formSubmit()">
                <!--User : Field-->
                <!--First Name : Field-->
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input
                    required
                    [(ngModel)]="user.firstName"
                    name="firstName"
                    type="text"
                    matInput
                    placeholder="Enter Your First Name"
                  />
                </mat-form-field>
  
                <!--Last Name : Field-->
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input
                    required
                    [(ngModel)]="user.lastName"
                    name="lastName"
                    type="text"
                    matInput
                    placeholder="Enter Your Last Name"
                  />
                </mat-form-field>
  
                <!--Email : Field-->
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input
                    required
                    [(ngModel)]="user.email"
                    name="email"
                    type="text"
                    matInput
                    placeholder="Enter Your Email"
                  />
                </mat-form-field>
  
                <!--Phone : Field-->
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Phone</mat-label>
                  <input
                    required
                    [(ngModel)]="user.phone"
                    name="phone"
                    type="text"
                    matInput
                    placeholder="Enter Your Phone"
                  />
                </mat-form-field>
  
                <button type="submit" mat-raised-button color="primary">
                  Add User
                </button>
                <button
                  type="reset"
                  style="margin-left: 140px"
                  mat-stroked-button
                  color="warn"
                >
                  Clear
                </button>
                <button mat-raised-button style="float: right" color="warn">
                  Back
                </button>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  