/* assessment-form.component.css */

.form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    // font-weight: bold;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  /* Add a style for highlighting invalid fields */
input.ng-invalid,
textarea.ng-invalid {
  border-color: red;
}

.required{
  color: red;
}



  