<div class="bootstrap-wrapper" *ngIf="!isSubmit">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <!-- progress -->
        <div class="container text-center">
          <mat-card style="margin-top: 92px">
            <b><p>Progress</p></b>
            <p>{{currentQuestionIndex + 1}} question of {{questions.length}}</p>
          </mat-card>
        </div>
      </div>
      <div class="col-md-7">
        <!-- questions -->
        <div class="header" *ngIf="currentQuestion">
          <h1>On going Test {{ questions[0].assessment.assessmentTitle }}</h1>
        </div>
        <mat-card class="mt10">
          <mat-card-content>
            <p>
              Q {{ currentQuestionIndex + 1 }}) &nbsp;<span
                [innerHTML]="currentQuestion.content"
              ></span>
            </p>

            <mat-divider></mat-divider><br />

            <div class="row mt10">
              <div class="col-md-6">
                <input
                  [(ngModel)]="currentQuestion.givenAnswer"
                  type="radio"
                  [value]="currentQuestion.option1"
                  [name]="currentQuestionIndex.toString()"
                />
                {{ currentQuestion.option1 }}
              </div>
              <div class="col-md-6">
                <input
                  [(ngModel)]="currentQuestion.givenAnswer"
                  type="radio"
                  [value]="currentQuestion.option2"
                  [name]="currentQuestionIndex.toString()"
                />
                {{ currentQuestion.option2 }}
              </div>
            </div>
            <div class="row mt20">
              <div class="col-md-6">
                <input
                  [(ngModel)]="currentQuestion.givenAnswer"
                  type="radio"
                  [value]="currentQuestion.option3"
                  [name]="currentQuestionIndex.toString()"
                />
                {{ currentQuestion.option3 }}
              </div>
              <div class="col-md-6">
                <input
                  [(ngModel)]="currentQuestion.givenAnswer"
                  type="radio"
                  [value]="currentQuestion.option4"
                  [name]="currentQuestionIndex.toString()"
                />
                {{ currentQuestion.option4 }}
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <div class="container text-center mt20 mb20">
          <button
            *ngIf="isLastQuestion()"
            (click)="submitTest()"
            mat-raised-button
            color="primary"
          >
            Submit Test
          </button>
          <button
            style="float: left"
            (click)="previousQuestion()"
            [disabled]="currentQuestionIndex === 0"
            mat-raised-button
            color="primary"
          >
            Previous
          </button>
          <button
            style="float: right"
            (click)="nextQuestion()"
            [disabled]="currentQuestionIndex === questions.length - 1"
            mat-raised-button
            color="primary"
          >
            Next
          </button>
        </div>
      </div>
      <div class="col-md-2">
        <!-- Progress -->
        <mat-card style="margin-top: 92px">
          <mat-card-header class="mt20 mb20">
            <mat-card-title> <b>Timer</b>  </mat-card-title>
            <mat-card-subtitle>
              Test will automatically end after <b>00:00</b>.
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{ getFormattedTime() }}</p>
            <mat-spinner
              mode="determinate"
              style="margin: auto"
              [value]="(timer / (this.questions.length * 60)) * 100"
            ></mat-spinner>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div class="bootstrap-wrapper text-center" *ngIf="isSubmit">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <mat-card>
        <mat-card-header>
          <mat-card-title> Test Result </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h1>Marks Obtained : {{ score }}</h1>
          <h1>Correct Answers : {{ correctAnswers }}</h1>
          <h1>Questions Attempted : {{ attempted }}</h1>
        </mat-card-content>
        <mat-card-actions>
          <div class="container text-center">
            <button mat-raised-button color="primary">Print</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
