.w100{
    width: 100%;
}

.subTitle{
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    font-weight: 600;
    color: rgb(82, 82, 178);
}
.heading{
    font-family:'Poppins', sans-serif ;
    font-size: xx-large;
    font-weight: 600;
    color: rgb(30, 138, 162);
}