<mat-card>
  <h1 class="mt30 ml30">Questions of {{ assessmentTitle }}</h1>
  <h2 class="mt20 ml30">
    <b> Number Of Questions &nbsp; :: &nbsp; </b> {{ questions.length }}
  </h2>
  <div class="iterator" *ngFor="let p of questions; let i = index">
    <mat-card class="mt20 mb20 ml20 mr20">
      <mat-card-content>
        <p>
          <b>Q{{ i + 1 }}</b>
          <span class="ml20" [innerHTML]="p.content"></span>
        </p>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <mat-radio-group [(ngModel)]="p.selectedOption">
                <mat-radio-button class="example-radio-button"
                  *ngFor="let option of [p.option1, p.option2, p.option3, p.option4]; let j = index" [value]="option">
                  {{ j + 1 }}) {{ option }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <button class="submit_btn mt10 ml20 mb30" mat-raised-button >Submit</button>
  </div>
</mat-card>