/* Reset some default styles */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

main {
  padding: 20px;
}

.hero {
  text-align: center;
  background-color: #f0f0f0;
  padding: 50px 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.features {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.feature {
  text-align: center;
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 10px;
  color: #fff;
  // background: #fff;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
  nav ul {
      flex-direction: column;
      text-align: center;
  }
  nav li {
      margin: 10px 0;
  }
  .features {
      flex-direction: column;
  }
  .feature {
      margin: 10px 0;
  }
}
