<div class="layout-wrapper">
    <app-navbar></app-navbar>
    <div class="content">
        <div class="container-inner">
            <main class="mt100">
                <section class="hero">
                    <h1>Welcome to the Assessment Portal</h1>
                    <p>Take assessments and track your progress.</p>
                    <mat-card>

                    </mat-card>
                </section>
                <section class="features">
                    <div class="feature">
                        <h2>Assessments</h2>
                        <p>Explore a variety of assessments in different subjects.</p>
                    </div>
                    <div class="feature">
                        <h2>Results</h2>
                        <p>View your assessment results and track your performance over time.</p>
                    </div>
                    <div class="feature">
                        <h2>Profile</h2>
                        <p>Manage your profile settings and preferences.</p>
                    </div>
                </section>
            </main>
        </div>
    </div>
</div>