/* You can add global styles to this file, and also import other style files */

body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.layout-wrapper {
  position: fixed;
  width: 100%;
  background: -webkit-linear-gradient(180deg, #d5fefd 0%, #eef6f6 74%);

  .content {
    width: 100%;
    overflow: auto;
    position: relative;
    height: 90vh;
    margin-top: 0.19rem !important;
    display: flex;

    .sidebar-content {
      width: 15%;
      height: 100%;
    }

    .main-content {
      margin-left: 45px;
      margin-top: 5px;
      width: 100%;
      height: 100%;
    }
  }
}


mat-form-field {
  width: 350px;
}

.input-icon {
  padding-left: 10px;
}

mat-card {
  background: transparent !important;
  border-radius: 20px;
}

mat-error {
  font-size: 14px;
}

mat-paginator {
  background: transparent !important;
}

.container{
  width: 100%;
}