.example-card {
    max-width: 400px;
  }
  
  .assessment-image {
    background-image: url('../../../../assets/assessments/assessment.png');
    background-size: cover;
  }
  
  .assessment-groups-button {
    align-self: flex-start; 
    margin-left: 20px; 
  }

  a{
    text-decoration: none;
    cursor: pointer;
  }