<mat-toolbar style="color: rgb(0, 0, 0); background-image: linear-gradient(315deg, #d5fefd 0%, #fffcff 74%);">
  <a
    [routerLink]="'/'"
    mat-button
    class="example-icon"
    aria-label="Example icon-button with menu icon font-size-larger"
    style="height: 60px;"
  >
  <img src="../../../assets/Softtek-logo.png" style="max-width: 100px;" alt="">
  </a>
  
  <span class="ml30 font-size-x-large" >Softtek Assessment Portal</span>
  <span class="example-spacer"></span>
  <a
    *ngIf="!isLoggedIn"
    [routerLink]="'/login'"
    mat-button
    style="margin-left: 0"
    class="example-icon favorite-icon mr20 ml20 font-size-larger"
    aria-label="Example icon-button with heart icon"
  >
    <img src="../../../assets/login icon.png" class="mt10" style="max-width: 20px;"> Login
  </a>
  

  <a
    *ngIf="isLoggedIn && user"
    mat-button
    class="example-icon favorite-icon mr10 ml40 font-size-large" style="margin-right: 150px;"
    aria-label="Example icon-button with heart icon"
    routerLink="/admin/profile"
  >
    {{ user.username }}
  </a>

  <a
    (click)="logout()"
    *ngIf="isLoggedIn"
    mat-button
    class="example-icon favorite-icon mr10 ml40 font-size-large"
    aria-label="Example icon-button with heart icon"
  >
   <mat-icon style="max-width: 20px;">logout</mat-icon> Logout
  </a>
</mat-toolbar>
