<h1 class="mt30 ml30">Questions of {{ assessmentTitle }}</h1>
<div class="container text-center">
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="onSubmit(assessmentId)" style="max-width: 400px; width: 100%">
        <input type="file" (change)="onFileSelected($event)" accept=".xlsx" />
        <br />
        <br />
        <button type="submit" mat-raised-button color="primary">
          add excel for bulk question adding
        </button>
      </form>
    </div>
    <div class="col-md-6">
      <button
        [routerLink]="
          '/admin/add-question/' + assessmentId + '/' + assessmentTitle
        "
        mat-raised-button
        style="background-color: rgb(12, 245, 245);max-width: 200px; width: 100%; margin-right: 130px;margin-top: 40px;"
        class="mt-md-3 mt-2"
      >
        Add Question
      </button>
      <button
        class="mt-md-3 mt-2 ml-md-2 ml-0"
        routerLink="/admin/view-assessments/"
        mat-raised-button
        color="accent"
        style ="margin-top: 40px;"
      > 
        View Assessments List
      </button>
    </div>
  </div>
</div>



<h2 class="mt20 ml30">
  <b> Number Of Questions &nbsp; :: &nbsp; </b> {{ questions.length }}
</h2>
<mat-card class="mt20" *ngFor="let q of questions; let i = index">
  <mat-card-content>
    <p>
      <b>Q{{ i + 1 }}</b>
      <span class="ml20" [innerHTML]="q.content"></span>
    </p>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p><b>1) </b> {{ q.option1 }}</p>
        </div>
        <div class="col-md-6">
          <p><b>2) </b> {{ q.option2 }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p><b>3) </b> {{ q.option3 }}</p>
        </div>
        <div class="col-md-6">
          <p><b>4) </b> {{ q.option4 }}</p>
        </div>
      </div>
      <mat-divider> </mat-divider>
      <p class="mt20">
        <b>Correct Answer : {{ q.answer }}</b>
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      (click)="deleteQuestion(q.questionId)"
      class="ml30 mb10"
      mat-raised-button
      color="warn"
    >
      Delete
    </button>
    <button
      [routerLink]="
        '/admin/update-single-question/' +
        assessmentId +
        '/' +
        assessmentTitle +
        '/' +
        q.questionId
      "
      mat-raised-button
      class="ml20 mb10"
      color="accent"
    >
      Update
    </button>
    <!-- <button class="ml30 mb10" mat-raised-button style="background-color: greenyellow;">Update</button> -->
  </mat-card-actions>
</mat-card>
